@page "/"

@code {
    private readonly Controller _controller = Factory.CreateController();
}

<table>
    <tbody>
        @{
            int size = 64;
            int perSide = size / 4;
        }

        <tr>
            @for (int i = perSide * 2; i <= perSide * 3; i++)
            {
                <td>Square @(i)</td>
            }
        </tr>

        @for (int i = 1; i < perSide; i++)
        {
            <tr>
                <td>Square @((perSide * 2) - i)</td>
                <td colspan="@(perSide - 1)"></td>
                <td>Square @((perSide * 3) + i)</td>
            </tr>
        }

        <tr>
            @for (int i = perSide; i >= 0; i--)
            {
                <td>Square @(i)</td>
            }
        </tr>
    </tbody>
</table>
